:root {
  --clr-neon-purple: #9d00ff;
  --clr-neon-blue: #1b03a3;
}

@font-face {
  font-family: "VT323";
  font-weight: 400;
  src: url("../assets/fonts/vt323-regular-webfont.woff2") format("woff2"),
    url(../assets/fonts/vt323-regular-webfont.woff) format("woff");
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "VT323", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body #grid-container {
  display: flex;
  height: 80vh;
  width: 80vh;
  border: 0.3em solid var(--clr-neon-purple);
}

#app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.square {
  cursor: pointer;
  flex: 1;
}

.grid {
  border: 0.05em solid var(--clr-neon-purple);
}

#title {
  font-size: 5em;
  color: var(--clr-neon-blue);
  margin-top: 0;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(157, 0, 255, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

#button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin-bottom: 1em;
}

button {
  font-family: "VT323", sans-serif;
  text-transform: uppercase;
  background-color: #1b03a3;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  border-radius: 1em;
  cursor: pointer;
  transition-duration: 0.2s;
}

button:hover,
button:active,
.active {
  box-shadow: 0 0 1em rgba(0, 0, 0);
  transform: scale(1.1);
}

#color-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5em;
}

#size-range {
  -webkit-appearance: none;
  background-color: blue;
  outline: none;
  border-radius: 30%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  height: 0.25em;
}

#size-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: #ffffff;
  border: 0.2em solid black;
}

#color-picker {
  background: none;
  border: none;
  width: clamp(1em, 5vh, 2.5em);
  height: clamp(1em, 5vh, 2.5em);
  cursor: pointer;
}

#color-picker::-webkit-color-swatch {
  border-radius: 50%;
  border: solid 0.2em black;
}
